/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
  margin-left: 1.3%;
}

.sidenav-trigger {
  color: #26a69a;
}

.card{
  display: inline-block;
  margin-left: 2%;
}

.activator {
  max-width: 300px;
}

.tela-inicial {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  min-height: 380px;
  line-height: 0;
  height: 91vh;
  color: rgba(255, 255, 255, .9);
}

.sobre-mim {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

  max-height: 300px;
  line-height: 0;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .introduction {
  margin-left: 10%;
}

.circle{
  max-width: 20%;
  margin-left: 10%;
  margin-top: 5%;  
}

.parallax-container .section {
  width: 100%;
}

.buttonsIntro {
  margin-top: 5%;
}

.buttonsIntro .btnbt {
  margin-left: 5%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}